.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the spinner horizontally */
    width: 250px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    justify-content: space-around; /* Evenly space the spinner and text */
  }
  
  .spinner {
    animation: spin 1.5s linear infinite;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-bottom: 10px; /* Add spacing between spinner and text */
  }

  .spinner.completed {
    animation: none; /* Stops the spinning */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  