body {
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 55px 20px 55px;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
}

.logo {
    height: 35px;
}

.navbar-right {
    display: flex;
    align-items: center;
    position: relative;
}

.network-selector {
    font-weight: 400;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 20px;
    position: relative;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
}

.change-network {
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 15px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.connect-wallet {
    font-size: inherit;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 15px;
    cursor: pointer;
    color: black;
    transition: color 0.3s, background-color 0.3s;
}
