body {
    background-color: white;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
}

h2 {
    font-weight: 800;
}

button {
    background-color: white;
    font-weight: 300;
    font-family: 'Manrope', sans-serif;
    color: black;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
}
